.movieRow {
    margin-bottom:30px;

}.movieRow h2{
    margin:0px 0px 30px;
}.movieRow--listarea{
    overflow-x:hidden;
    padding-left:30px;
}.movieRow--item{
    display:inline-block;
    width:150px;
}.movieRow--list {
    width: 9999999px;
    display:flex;
}.movieRow--item img{
    width:100%;
    
}.movieRow img{
    transform:scale(0.9);
    transition:all ease 0.2s;
}
.movieRow img:hover{
    transform:scale(1);
}