
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing:border-box;
    font-family:Roboto;

}
body{
    background-color:#111;
    color:#FFF;
    margin:0;
}